{% block start %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: antiquewhite;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        z-index: 1000;
    }

    .but, .reg {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .but a, .reg a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
    }

    .but a {
        background-color: red;
    }

    .but a:hover {
        background-color: rgb(139, 2, 2);
    }

    .reg a {
        background-color: green;
    }

    .reg a:hover {
        background-color: rgb(7, 90, 7);
    }

    /* Responsive Styling */
    @media (max-width: 768px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }

        .but, .reg {
            flex-direction: column;
            width: 100%;
            padding: 10px 0;
        }

        .but a, .reg a {
            width: 100%;
            text-align: left;
        }
    }
</style>

<div class="navbar">
    <div class="but">
        <a href="{% url 'home_page' %}"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
        <a href="{% url 'aboutus' %}"><i class="fas fa-info-circle"></i>&nbsp;About Us</a>
        <a href="{% url 'contact_page' %}"><i class="fa-solid fa-phone"></i>&nbsp;Enquiry</a>
        <a href="{% url 'charges' %}"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;Charges</a>
    </div>
    <div class="reg">
        <a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}
